
body {
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial', sans-serif;
}
.headerbar, .maincontent,
.footerbar {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #1F2937;
    color: #F9FAF8;
}
.photocontent,
.quotecontent {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

/* header content below */
.headerbar {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerlogo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}
li {
    margin-left: 4px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.headerlinks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-shrink: 0;
    gap: 5px;
}
a:hover {
    color: #3882F6;
}

/* main content below */
.maincontent {
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container1a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
}
.content-h {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 2px;
}
.content-sub {
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 4px;
}
.topbutton {
    margin-left: 0px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 3px;
    padding: 4px 35px;
}
.contentB {
    display:flex;
}
.imgholder {
    width: 320px;
    height: 200px;
    background-color: #6b7280;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

/* photo content below */
.photocontent {
    flex-direction: column;
    padding-bottom: 100px;
}
.content-h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;

}
.container2b {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
}
.photo2 {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    text-align: center;
    font-size: 18px;
    color: #6b7280;;
}

/* quote content below */
.quotecontent {
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding-top: 50px;
    padding-bottom: 50px;
}
.quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}
.thor {
    color: #1F2937;
    font-weight: 900;
    font-size: 18px;
    flex:1;
    align-self: flex-end;
}

/* act content below */
.actcontent {
    display: flex;
    margin: 60px 200px;
    padding: 30px 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    color: #fff;
    border-radius: 4px;
}   

.container3a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
    width: 400px;
}

.acth {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 900;
}

.actsub {
    margin-top: 0;
    margin-bottom: 0; 
} 

.container3b {
    display: flex;

}

.botbutton {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 3px;
    border: 2px solid #fff;
    padding: 4px 29px;
    /* margin-left: auto; */
    /* background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 3px;
    border: 2px solid #fff;
    padding: 4px 40px;
    margin-left: 10px;
    display: flex; */
}

/* footer */
.footerbar {
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

button:hover {
    background-color: #6b7280;
}

button:active {
    background-color: red;
}