/* debug purposes */
* {
    border: 1px solid gray;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
}

.headerbar,
.maincontent, 
.photocontent, 
.quotecontent,
.actcontent,
.footerbar {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.headerbar, .maincontent,
.footerbar {
    background-color: #1F2937;
    color: #F9FAF8;
}

.headerbar {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerlogo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

li {
    margin-left: 4px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.headerlinks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-shrink: 0;
}


/* Header Above */




.maincontent {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* min-height: 300px; */
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin: 0; */

    flex-direction: row;
}

.container1a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-left: 90px; */
}

.container1b {
    display: flex;
    justify-content: flex-end;
    margin-right: 90px;
}

.placeholder {
    width: 400px;
    height: 200px;
    background-color: #6b7280;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    /* margin-right: 90px; */
    /* margin-left: 50px; */
}

.button1,
.button2 {
    border: none;
    border-radius: 3px;
    
}

.awesome1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 10px;
}

.awesome-sub {
    font-size: 18px;
    margin: 10px;
    /* color: #E5E7EB; */
}



button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 3px;
    padding: 4px 45px;
    margin-left: 10px;
}

img {
    

}

.awesome2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}


