/* debug purposes */
* {
    border: 1px solid gray;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header-container,
.footer {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-container {
    justify-content: flex-end;
    align-items: center;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    flex: 1;
    margin-right: auto;
}

ul {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    /* align-items: center; */
    flex: 1 0 0%;
}

li {
    margin: 8px;
}

.container1 {
    display: flex;
    flex-flow: row wrap;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: space-between;
}

.awesome {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.awesome-sub {
    font-size: 18px;
    /* color: #E5E7EB; */
}



button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 3px;
    padding: 3px 30px;
}

img {
    width: 600px;
}

.awesome {

}